<!-- HERO -->
<div class="section hero">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h4 class="hero-heading">Enter the URL of a GitHub project written in Python, and we'll show you how the coupling of the project is related to its growth!</h4>
				
				<!-- GITHUB URL SUBMISSION FORM -->
				<form>
					<label for="githubUrlInput">GitHub URL</label>
					<input class="u-full-width" type="url" placeholder="https://github.com/371student/seng371project" id="githubUrlInput">
					<input class="button button-primary" type="submit" value="Start">
				</form>
				<!-- END FORM -->
			</div>
		</div>
	</div>
</div>

<!-- RESULTS -->
<div class="section results">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
				<h2 class="results-multiplier">Repository Data</h2>
  				<h5 class="results-heading">and associated status</h5>
				<table class="u-full-width">
					<thead>
						<tr>
							<th>Repository Name</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="repo in main.repositories">
						<tr>
							<td><a href={{ repo.url }}>{{ repo.name }}</a></td>
							<td>{{ repo.status }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>