<!-- HERO -->
<!-- HEADER -->
<div class="section hero">
	<div class="container">
		<div class="row">
			<div class="two-thirds column">
				<h4 class="hero-heading">Enter the URL of a GitHub project written in Python, and we'll show you how the coupling of the project is related to its growth!</h4>
				
				<!-- GITHUB URL SUBMISSION FORM -->
				<form ng-submit="home.submitRepoUrl()">
					<label for="githubUrlInput">GitHub 'HTTPS clone URL':</label>
					<input class="u-full-width form-control" ng-model="home.repoUrl" type="url" placeholder="https://github.com/371student/seng371project.git" id="githubUrlInput">
					<button type="submit" class="button button-primary">
						<span ng-if="!home.processing">Start</span>
						<span ng-if="home.processing" class="spinner">
							<!-- <span class="repeatIcon"></span> -->
							<img src="/images/repeat.png" class="repeatWheel">
							<!-- Processing... -->
						</span>
					</button>
				</form>
				<!-- END FORM -->
			</div>
		</div>
	</div>
</div>

<!-- RESULTS -->
<div class="section results">
	<div class="container">
		<div class="row">
			<div class="u-full-width">
				<h2 class="results-multiplier">Repository Data</h2>
  				<h5 class="results-heading">and associated status</h5>
				<table class="u-full-width">
					<thead>
						<tr>
							<th>Repository Name</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="repo in main.repositories | orderBy:'name'">
						<tr>
							<td><a class="repo_links" onmouseover="" ng-click='main.goToData(repo.url)'><strong>{{ repo.name }}</strong></a></td>
							<!-- <td><a href='{{ repo.url }}'>{{ repo.name }}</a></td> -->
							<td>{{ repo.status }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
