/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

td {
  font-weight: bold;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background: #fff;
}

/* Results
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.results {
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.results-multiplier {
  margin-bottom: .5rem;
}
.results-heading {
  margin-bottom: 4rem;
  color: #82DFC7;
}
.results-description {
  opacity: .8;
  font-weight: 300;
}

/* Bigger than 550
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 550px) {
  .section {
    padding: 3rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 4rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
}

/* Bigger than 1000
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) {
  .section {
    padding: 7rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* skrollr Stuff
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
    padding:0;
    margin:0;
}
html {
  height:100%;
} 

body {
    height:100%;
    background-image: url('http://www.psdgraphics.com/file/colorful-triangles-background.jpg');
}
.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
  height:100%;
  overflow:visible;
}


/* graph css
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


/* animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.spinner {
  animation:spin 1s infinite;
  -webkit-animation:spin 1s infinite;
  -moz-animation:spin 1s infinite;
}

@keyframes spin {
  from  { transform:rotate(0deg); }
  to    { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
  from  { -webkit-transform:rotate(0deg); }
  to    { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
  from  { -moz-transform:rotate(0deg); }
  to    { -moz-transform:rotate(360deg); }  
}